@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

#header-img{
    width: 20vw;
    max-height: 100%;
}
header{
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    align-items: center;
    padding-right: 0;
}

#nav-bar > ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding-left: 589px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
    text-align: center;
    font-size: 1.5rem;
}

form{
    padding-bottom: 200px;
    background-color: rgba(238, 238, 238, 0.753);
    padding-top: 200px;
}

#email{
    height: 20px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

#submit{
    border-radius: 5px;
    background-color: coral;
    border: 0;
    padding: 10px 20px;
}

#submit:hover{
    cursor: pointer;
}

#features{
    padding-top: 200px;
    padding-bottom: 210px;
}

#features >.feature{
    margin: 80px 20px;
}

#pricing{
    display: flex;
    height: 500px;
    justify-content: center;
}

.price-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-color:rgb(14, 14, 14) ;
    border-style:solid;
    border-radius: 5px;
    margin: 50px 50px;
    justify-content: center;
}

.type{
    width: 100%;
    background-color: #eee;
    padding: 10px 10px;
}

h2{
    width: 100%;
}

.price-card>ul{
    display: block;
    padding-left: 0px;
}

button{
    border-radius: 5px;
    background-color: coral;
    border: 0;
    padding: 10px 40px;
}

#about-us{
    padding-bottom: 200px;
    background-color: rgba(238, 238, 238, 0.753);
    padding-top: 200px;
}

footer{
    margin-top: 30px;
    padding: 20px;
}


footer > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  